td {
  height: 10px;
  width: 20px;
}
thead td {
  font-weight: 900;
}
.redValue {
  color: red;
}
.greenValue {
  color: green;
}
.lowOpacityRed {
  color: rgba(240, 17, 17, 0.5);
}
.dissapear {
  display: none;
}
.cursive {
  font-style: italic;
}
